@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');




*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Italiana", serif;
}

body{
    background-color: azure;  /*color de todo el fondo*/
    height: 100vh;
    min-width: 400px;
}

#header{
    background-color: rgba(0, 0, 0, 0.7); /* Color más oscuro para mejor contraste */
    height: 5em;
    display: flex;
    align-items: center;

}

.header{
background-color: rgba(217, 217, 217, 41);
display: flex;
width: 100%;
height: 5em;
align-items: center;
justify-content: space-around;
position: fixed;
}

.header h2{
    color: rgb(255, 255, 255); /* Color del texto */
    text-shadow:  
      -1px -1px 0 rgb(48, 68, 83, 100%),  
       1px -1px 0 rgb(48, 68, 83, 100%),  
      -1px  1px 0 rgb(48, 68, 83, 100%),  
       1px  1px 0 rgb(48, 68, 83, 100%); /* Simula un borde blanco */
}

.header ul li a{
    color: rgb(48, 68, 83, 100%);
    font-family: 'Inter', sans-serif;
}

.header div{
    display: flex;
    align-items: center;
    gap: 10px;
}



@media (min-width: 1200px) {
    

/*codigop que hace parte unicamente aa la pagina de ingresar cuenta*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(186, 199, 208, 100);
    height: 80vh;
}

.cuerpo_inicio{
    background-color: rgba(186, 199, 208, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2%;
    gap: 50px;
    width: 50%;
}

.title{
    font-family: "Inter", serif;
    text-align: center;
}

.cuenta, form{
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    width: 22rem;
}

.bton_ingresar{
    background-color: rgba(8, 10, 9, 0.13);
    padding: 8px;
    border-radius: 10%;
}

.bton{
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 100% 100%;
}

svg{
    width: 4em;
    height: 4em;
    padding: 5px;
}

.sesion-ops{
    width:20rem ;
    display: flex;
    justify-content: space-between;
}

/*qui termina el codigo que pertenece unimente a la pagina para ingreasr cuenta o inicio*/


.cuerpo_principal{ /*Este es el codigo del cuerpo del contenedor del cuerpo principal*/
    height: 100%;
    width: 100%;
}

/*Aqui inicia el cuerpo principal*/

.principal{
    background-image: url(img/hoteles-01.webp);
    background-color: blueviolet;
    background-size: cover;
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
}

.bienvenido{
    height: 80%;
    display: flex;
    align-items: center;
}

.bienvenido_hijo{
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.bienvenido_hijo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    font-size: 50px;
    letter-spacing: -0.8px;
    word-spacing: 2.4px;
    color: #ffffff;
    font-weight: 900;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    text-shadow:  
    -1px -1px 0 rgb(3, 2, 2),  
     1px -1px 0 rgb(3, 2, 2),  
    -1px  1px 0 rgb(3, 2, 2),  
     1px  1px 0 rgb(3, 2, 2);
}

.bienvenido_hijo h4{
    font-family: 'Inter', sans-serif;
    color: rgba(240, 240, 240, 0.919);
    text-shadow:  
    -1px -1px 0 rgb(7, 7, 8),  
     1px -1px 0 rgb(7, 7, 7),  
    -1px  1px 0 rgb(0, 0, 0),  
     1px  1px 0 rgb(3, 2, 2);
}

.calendario_consultar{
    width: 100%;
    height: 15%;
    background-color: rgba(11, 10, 10, 0.759);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-size: 100%;
    flex-wrap: wrap;
    color: aliceblue;
    padding-bottom: 3%;
    padding-top: 1%;
}

.calendario_consultar div{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calendario_consultar input{
    width: 15rem;
    border-color: rgb(0, 0, 0);
    border-style: double;
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    padding: 1em;
}

.calendario_consultar button {
    padding: 1em;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-style: double;
    background-color: rgb(0, 0, 0);
    padding-inline: 6em;
    color: aliceblue;
}

/*Aqui termina el codigo de cuerpo principal*/


/*aqui inicia el contenedor del dialogo principal con imagenes de hotel*/
.cono{
    background-color: rgba(217, 217, 217, 1);
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cono_container{
    background-color: rgba(217, 217, 217, 1);
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 1.5fr 0.8fr;
    grid-template-rows: 1fr 1fr;
}

.dialogo{
    background-color: rgb(217, 217, 217);
    grid-column: 1/1;
    height: 20em;
    display: flex;
    width: 100%;
    align-items: center;
}

.dialogo_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    gap: 20px;
    width: 90%;
}

.dialogo_cont h1{
    font-family: "Italiana", serif;
}

.dialogo_cont p{
    font-family: 'Inter', sans-serif;

}

.dialogo_cont button{
    background-color: rgba(48, 68, 83, 1);
    padding: 20%;
    padding-inline: 60%;
    color: aliceblue;
    border-radius: 2px;
    border-style: double;
    border-color:rgba(48, 68, 83, 1) ;
    cursor: pointer;
}

.img_mostrar{
    background-image: url(img/hab1.jpg);
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    background-size: 100% 100%;
}

.img_list{
    background-color: rgba(238, 130, 238, 0);
    grid-column: 2/1;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 2em;
}

.list_container{
    width: 96%;
    height: 70%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    gap: 2%;
}

.item{
    height: 100%;
    width: 30%;
    background-color: brown;
    border-radius: 2%;
}


.item{
    background-image: url(img/hab4.jpg) ;
    background-size: cover;
}



.img_mostrar img{
    height: 100%;
    width: 100%;
    background-color: rgb(130, 238, 229);
}

/*aqui termina el contenedor del dialogo principal con imagenes de hotel*/

/*aqui inicia el codigo del contenedor de servicios*/
.servicios_pad{
    height: 40vh;
    width: 100%;
    background-color: rgba(67, 96, 115, 0.371);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 6%;
   font-family: "Italiana", serif;
}



.serv_cont{
    background-color: rgba(17, 17, 17, 0.28);
    height: 50%;
    width: 70%;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    font-family: "Italiana", serif;
    border-radius: 5px;
}

.serv_cont0{
    height: 130px;
    width: 130px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: antiquewhite;
    gap: 2px;
}

.serv_cont0 img{
    height: 50px;
}

.linea_azul{
    height: 8px;
    width: 80%;
    background-color: rgb(92, 153, 198);
    border-radius: 50px;
}

/*aqui termina el codigo del contenedor de servicios*/

/*aqui inicia el codigo de contenerdor de testimonios */
.testimonio{
    height: 30vh;
    width: 100%;
    background-color:rgba(196, 196, 196, 1) ;
}
/*aqui termina el codigo de contenerdor de testimonios */


/*aqui inicia el codigo de contenerdor de los datos del personal */
.personal{
    height: 80vh;
    width: 100%;
    background-color:rgb(82, 89, 95);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 2%;
    font-style: oblique;
}
.personal h2{
    padding-bottom: 30px;
    font-family: "Italiana", serif;
    color: rgb(255, 255, 255);
}
.pers{
    height: 25%;
    width: 90%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.pers_foto{
    height: 120px;
    width: 120px;
    background-color: black;
    border-radius: 50%;
}
.pers_foto img{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    cursor: pointer;
    border-radius: 50%;
}
.pers_dats{
    height: 50%;
    width: 90%;
    background-color: rgba(31, 190, 103, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.pers_img_princ{
    height: 90%;
    width: 20%;
    background-color: rgb(137, 43, 226);
    border-radius: 2%;
}
.pers_img_princ img{
    height: 100%;
    width: 100%;
    border-radius: 2%;
}
.pers_datos_princ{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
}
/*aqui termina el codigo de contenerdor de los datos del personal */

/*Aqui empieza el codigo del contener de la informacion de las habitaciones*/
.cont_habitaciones{
    height: 30em;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.17);
    display: flex;
    align-items: center;
}
.habitaciones{
    width: 100%;
    height: 25em;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.hab_item{
    height: 80%;
    width:220px;
    background-color: aqua;
}
/*Aqui Termina el codigo del contener de la informacion de las habitaciones*/



footer{/*footer*/
    background-color: black;
    height: 20vh;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Italiana", serif;
}
}
