@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: azure;  /*color de todo el fondo*/
    height: 100vh;
}

#header{
  background-color: rgba(217, 217, 217, 41);
  height: 10vh;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  font-family: "Italiana", serif;
  font-weight: 700;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(186, 199, 208, 100);
    height: 80vh;
}

.cuerpo{
    background-color: rgba(186, 199, 208, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2%;
    gap: 50px;
    width: 50%;
}

.title{
    font-family: "Inter", serif;}

.cuenta, form{
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    width: 22rem;
}

.sesion-ops{
    width:20rem ;
    display: flex;
    justify-content: space-between;
}


footer{
    background-color: rgba(217, 217, 217, 41);
    height: 10vh;
}
